

.modal-body {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 45%;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.card {
    padding: 0px;
}

.modal-backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.1);
}

button {
    margin: 5px;
}

.parent-type-selector {
    margin: 10px;
}