.react-image-dot__wrapper {
  background-size: cover;
  position: relative;
  background-color: gray;
  float:left;
  border-style: dotted;
  border-color: gray;
  border-width: 1px;
}

.react-image-dot {
  position: absolute;
  cursor: move; /* Fallback for older browsers */
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  border-radius: 100%;
}

.react-image-dot__grabbing {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

#canvas {
    position: absolute;
    z-index: 1;
}

.bottom-toolbox {
    position: relative;
}
