.react-image-dot__wrapper {
  background-size: cover;
  position: relative;
  background-color: gray;
  float:left;
}

.react-image-dot {
  position: absolute;
  cursor: move; /* Fallback for older browsers */
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  border-radius: 100%;
}

.react-image-dot__grabbing {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}
